<?xml version="1.0"?>
<config>
    <modules>
        <Digiswiss_Bzpsales>
            <version>0.1.0</version>
        </Digiswiss_Bzpsales>
    </modules>
    <frontend>
        <routers>
            <bzpsales>
                <use>standard</use>
                <args>
                    <module>Digiswiss_Bzpsales</module>
                    <frontName>bzpsales</frontName>
                </args>
            </bzpsales>
        </routers>
        <layout>
        	  <translate>
                <modules>
                    <Digiswiss_Bzporder>
                        <files>
                            <default>Digiswiss_Bzpsales.csv</default>
                        </files>
                    </Digiswiss_Bzporder>
                </modules>
            </translate>
            <updates>
                <bzpsales>
                    <file>bzpsales.xml</file>
                </bzpsales>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
    			<bzpsales>
    				<use>admin</use>
    				<args>
    					<module>Digiswiss_Bzpsales</module>
    					<frontName>bzpsales</frontName>
    				</args>
    			</bzpsales>
        </routers>
    </admin>
    <adminhtml>
		  <translate>
          <modules>
              <Digiswiss_Bzpsales>
                  <files>
                      <default>Digiswiss_Bzpsales.csv</default>
                  </files>
              </Digiswiss_Bzpsales>
          </modules>
      </translate>
  		<menu>
  			<sales module="sales">
  				<children> 
            <costcenter translate="title" module="sales">
              <title>Cost Center</title>
              <sort_order>15</sort_order>
              <action>bzpsales/adminhtml_costcenter</action>
            </costcenter>
  				</children>
  			</sales>
  		</menu>
  		<acl>
  			<resources>
  				<all>
  					<title>Allow Everything</title>
  				</all>
  				<admin>
  					<children>
  						<sales>
                <children>                    
                  <costcenter translate="title">
                      <title>Cost Center</title>
                      <sort_order>15</sort_order>
                  </costcenter>
                </children>
  						</sales> 
  						<system>
  						  <children>
  						    <config>  
      						  <children> 
      						    <bzpsales>
      						      <title>BZP Sales Section</title>
      						    </bzpsales>
      						  </children>
  						    </config>
  						  </children>
              </system>
  					</children>
  				</admin>
  			</resources>
  		</acl>
  		<layout>
  			<updates>
  				<bzpsales>
  					<file>bzpsales.xml</file>
  				</bzpsales>
  			</updates>
  		</layout>
    </adminhtml>
    <global>
        <models>
            <bzpsales>
                <class>Digiswiss_Bzpsales_Model</class>
                <resourceModel>bzpsales_mysql4</resourceModel>
            </bzpsales>
            <bzpsales_mysql4>
                <class>Digiswiss_Bzpsales_Model_Mysql4</class>
                <entities>
                    <costcenter>
                        <table>aa_costcenter</table>
                    </costcenter>
                </entities>
            </bzpsales_mysql4>
        </models>
        <resources>
            <bzpsales_setup>
                <setup>
                    <module>Digiswiss_Bzpsales</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bzpsales_setup>
            <bzpsales_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bzpsales_write>
            <bzpsales_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bzpsales_read>
        </resources>
        <blocks>
            <bzpsales>
                <class>Digiswiss_Bzpsales_Block</class>
            </bzpsales>
        </blocks>
        <helpers>
            <bzpsales>
                <class>Digiswiss_Bzpsales_Helper</class>
            </bzpsales>
        </helpers>
    </global>
</config>