<!--@subject {{var order.getStoreGroupName()}}: Nouvelle commande #{{var order.increment_id}} @-->

{{block type="cms/block" block_id="email_css"}}

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top" align="right"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var order.getStoreGroupName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Madame, Monsieur {{var order.getCustomerName()}}</strong>,<br/>
                        Merci pour votre commande chez {{var order.getStoreGroupName()}}.
                        Vous pouvez vérifier l'état de votre commande en vous <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">connectant sur le système</a>.
                        Si vous avez encore des questions, veuillez nous contacter par e-mail <a href="mailto:christoph.dietiker@toyota.ch" style="color:#1E7EC8;">christoph.dietiker@toyota.ch</a> ou par téléphone <span class="nobr">+41 (0)62 788 88 44</span>.
                    </p>
                    <p>Vous trouverez la confirmation de commande ci-dessous. Merci pour votre commande.</p>

                    <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">Votre commande #{{var order.increment_id}} du {{var order.getCreatedAtFormated('long')}}</h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Informations de facture:</th>
                            <th width="3%"></th>
                            <th align="left" width="48.5%" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Mode de paiement::</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0;">
                                {{var order.getBillingAddress().format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{depend order.getIsNotVirtual()}}
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Information livraison</th>
                            <th width="3%"></th>
                            <th align="left" width="48.5%" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Mode de livraison:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0;">
                                {{var order.getShippingAddress().format('html')}}
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0;">
                                {{var order.getShippingDescription()}}
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{/depend}}
                    {{layout handle="sales_email_order_items" order=$order}}

                    {{var items_html}}
                    <br/>
                    {{var order.getEmailCustomerNote()}}
                    <p>
                        <strong>{{var order.getStoreGroupName()}}</strong> dit encore une fois "merci"!
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>