<?xml version="1.0"?>
<config>
    <modules>
        <Digiswiss_Soapsync>
            <version>0.1.0</version>
        </Digiswiss_Soapsync>
    </modules>
    <frontend>
        <routers>
            <soapsync>
                <use>standard</use>
                <args>
                    <module>Digiswiss_Soapsync</module>
                    <frontName>soapsync</frontName>
                </args>
            </soapsync>
        </routers>
        <layout>
            <updates>
                <soapsync>
                    <file>soapsync.xml</file>
                </soapsync>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
    			<soapsync>
    				<use>admin</use>
    				<args>
    					<module>Digiswiss_Soapsync</module>
    					<frontName>soapsync</frontName>
    				</args>
    			</soapsync>
        </routers>
    </admin>
    <adminhtml>
		  <translate>
          <modules>
              <Digiswiss_Soapsync>
                  <files>
                      <default>Digiswiss_Soapsync.csv</default>
                  </files>
              </Digiswiss_Soapsync>
          </modules>
      </translate>
  		<menu>
  			<soapsync module="soapsync">
  				<title>sSync</title>
  				<sort_order>71</sort_order>
  				<children>
  					<fotos module="soapsync">
  						<title>Manage</title>
  						<sort_order>1</sort_order>
  						<action>soapsync/adminhtml_fototheke</action>
  					</fotos>
  				</children>
  			</soapsync>
  		</menu>
  		<acl>
  			<resources>
  				<all>
  					<title>Allow Everything</title>
  				</all>
  				<admin>
  					<children>
  						<soapsync>
  							<title>sSync</title>
  							<sort_order>10</sort_order>
                <children>
                    <fotos>
                        <title>Manage Images</title>
			                  <sort_order>1</sort_order>
                    </fotos>
                </children>
  						</soapsync>
  					</children>
  				</admin>
  			</resources>
  		</acl>
  		<layout>
  			<updates>
  				<soapsync>
  					<file>soapsync.xml</file>
  				</soapsync>
  			</updates>
  		</layout>
    </adminhtml>
    <global>
        <models>
            <soapsync>
                <class>Digiswiss_Soapsync_Model</class>
                <resourceModel>soapsync_mysql4</resourceModel>
            </soapsync>
            <soapsync_mysql4>
                <class>Digiswiss_Soapsync_Model_Mysql4</class>
                <entities>
                    <ibramssync>
                        <table>aa_ibrams_media</table>
                    </ibramssync>
                    <ibramsmetadata>
                        <table>aa_ibrams_media_metadata</table>
                    </ibramsmetadata>
                    <fototheke>
                        <table>catalog_product_entity</table>
                    </fototheke>
                </entities>
            </soapsync_mysql4>
        </models>
        <resources>
            <soapsync_setup>
                <setup>
                    <module>Digiswiss_Soapsync</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </soapsync_setup>
            <soapsync_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </soapsync_write>
            <soapsync_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </soapsync_read>
        </resources>
        <blocks>
            <soapsync>
                <class>Digiswiss_Soapsync_Block</class>
            </soapsync>
        </blocks>
        <helpers>
            <soapsync>
                <class>Digiswiss_Soapsync_Helper</class>
            </soapsync>
        </helpers>
    </global>
</config>