<?xml version="1.0"?>
<config>	
		<modules>
	      	<ld_quickactions>
	         	<version>0.1.0</version>
	        </ld_quickactions>
	   </modules>
	   <global>
		    <helpers>
		        <quickactions>
		            <class>Ld_Quickactions_Helper</class>
		        </quickactions>
		    </helpers>	   
	   </global>
	   <frontend>
                <routers>
                        <quickactions>
                                <use>standard</use>
                                <args>
                                      <module>Ld_Quickactions</module>
                                      <frontName>quickactions</frontName>
                                </args>
                        </quickactions>
                </routers>
        </frontend>
</config>
