<?xml version="1.0"?>
<config>
    <modules>
      <Digiswiss_Lexusnewsletter>
        <version>0.2.0</version>
      </Digiswiss_Lexusnewsletter>
    </modules>
      
  <global>
    <rewrite>
        <digiswiss_lexusnewsletter_newsletter_manage>
            <from><![CDATA[#^/newsletter/manage/#]]></from>
            <to>/lexusnewsletter/newsletter_manage/</to>
        </digiswiss_lexusnewsletter_newsletter_manage>
    </rewrite>
    <blocks>
        <adminhtml>
            <rewrite>
                <newsletter_queue_edit_form>Digiswiss_Lexusnewsletter_Block_Adminhtml_Newsletter_Queue_Edit_Form</newsletter_queue_edit_form>
            </rewrite> 
            <rewrite>
                <customer_edit_tab_newsletter>Digiswiss_Lexusnewsletter_Block_Adminhtml_Customer_Edit_Tab_Newsletter</customer_edit_tab_newsletter>
            </rewrite>
            <rewrite>
                <newsletter_queue_grid_renderer_action>Digiswiss_Lexusnewsletter_Block_Adminhtml_Newsletter_Queue_Grid_Renderer_Action</newsletter_queue_grid_renderer_action>
            </rewrite>
        </adminhtml>
        <lexusnewsletter>
                <class>Digiswiss_Lexusnewsletter_Block</class>
        </lexusnewsletter>
    </blocks>
  	<models>
  	   <lexusnewsletter>
  	       <class>Digiswiss_Lexusnewsletter_Model</class>
  	   </lexusnewsletter>
  	   <newsletter>
      	   <rewrite>
      	       <subscriber>Digiswiss_Lexusnewsletter_Model_Subscriber</subscriber>
      	   </rewrite>
      	   <rewrite>
      	       <queue>Digiswiss_Lexusnewsletter_Model_Queue</queue>
      	   </rewrite>
  	   </newsletter>
       <newsletter_mysql4>
      	   <rewrite>
              <queue>Digiswiss_Lexusnewsletter_Model_Mysql4_Queue</queue>
           </rewrite>
       </newsletter_mysql4>
       <newsletter_mysql4>
      	   <rewrite>
              <subscriber_collection>Digiswiss_Lexusnewsletter_Model_Mysql4_Subscriber_Collection</subscriber_collection>
           </rewrite>
       </newsletter_mysql4>
  	</models>
  	<resources>
        <lexusnewsletter_setup>
            <setup>
                <module>Digiswiss_Lexusnewsletter</module>
                <class>Digiswiss_Lexusnewsletter_Model_Resource_Eav_Mysql4_Setup</class>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </lexusnewsletter_setup>  	 
        <lexuscustomer_write>
            <connection>
                <use>core_write</use>
            </connection>
        </lexuscustomer_write>
        <lexuscustomer_read>
            <connection>
                <use>core_read</use>
            </connection>
        </lexuscustomer_read>
    </resources>
    <helpers>
        <lexusnewsletter>
            <class>Digiswiss_Lexusnewsletter_Helper</class>
        </lexusnewsletter>
    </helpers>
  </global>
  <admin>
      <routers>
          <adminhtml>
              <args>
                  <modules>
                      <Digiswiss_Lexusnewsletter_Override before="Mage_Adminhtml">Digiswiss_Lexusnewsletter_Override_Admin</Digiswiss_Lexusnewsletter_Override>
                  </modules>
              </args>
          </adminhtml>
      </routers>
  </admin>  
  <frontend>
      <routers>
          <digiswiss_lexusnewsletter>
              <use>standard</use>
              <args>
                  <module>Digiswiss_Lexusnewsletter</module>
                  <frontName>lexusnewsletter</frontName>
              </args>
          </digiswiss_lexusnewsletter>
      </routers>
  </frontend>
</config>